html {
    background-color: #22212C;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


div{
    background-color: #302F3D;
    height: 292px;
    width: 348px;
    margin: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 8px 1px #00000013;
    border-radius: 20px;
    
}

img{
    max-width: 45%;
    max-height: 45%;
    border: 3px solid #ff0077 ;
    border-radius: 100px;
    justify-content: start;
    margin-bottom: 20px;
}


#profile-pic{
    height: 128px;
    width: 128px;
}

p{
    color: #837E9F;
    font-size: 15px;
    line-height: 0.4px;
}

p.name{
    color: #837E9F;
    font-weight: 600;
    font-size: 25px;
    margin-top: 30px;
}